USE [DbTeknikServis]
GO
/****** Object:  Table [dbo].[TBLADMIN]    Script Date: 10/26/2025 11:30:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLADMIN](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[KULLANICIAD] [varchar](10) NULL,
	[SIFRE] [varchar](10) NULL,
 CONSTRAINT [PK_TBLADMIN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLARACLAR]    Script Date: 10/26/2025 11:30:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLARACLAR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](50) NULL,
 CONSTRAINT [PK_TBLARACLAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLARIZADETAY]    Script Date: 10/26/2025 11:30:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLARIZADETAY](
	[ARIZAID] [int] IDENTITY(1,1) NOT NULL,
	[ISLEM] [int] NULL,
	[SORUN] [varchar](250) NULL,
	[ACIKLAMA] [varchar](250) NULL,
	[ONFIYAT] [decimal](18, 2) NULL,
	[NETFIYAT] [decimal](18, 2) NULL,
	[ISLEMLER] [varchar](500) NULL,
 CONSTRAINT [PK_TBLARIZADETAY] PRIMARY KEY CLUSTERED 
(
	[ARIZAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLCARI]    Script Date: 10/26/2025 11:30:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLCARI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](30) NULL,
	[SOYAD] [varchar](30) NULL,
	[TELEFON] [varchar](20) NULL,
	[MAIL] [varchar](50) NULL,
	[IL] [varchar](13) NULL,
	[ILCE] [varchar](30) NULL,
	[BANKA] [varchar](50) NULL,
	[VERGIDAIRESI] [varchar](50) NULL,
	[VERGINO] [varchar](50) NULL,
	[STATU] [varchar](50) NULL,
	[ADRES] [varchar](250) NULL,
 CONSTRAINT [PK_TBLCARI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLDEPARTMAN]    Script Date: 10/26/2025 11:30:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLDEPARTMAN](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[AD] [varbinary](50) NULL,
	[ACIKLAMA] [varchar](100) NULL,
 CONSTRAINT [PK_TBLDEPARTMAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLFATURABILGI]    Script Date: 10/26/2025 11:30:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLFATURABILGI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SERI] [char](1) NULL,
	[SIRANO] [varchar](6) NULL,
	[TARIH] [smalldatetime] NULL,
	[SAAT] [char](5) NULL,
	[VERGIDAIRESI] [varchar](50) NULL,
	[CARI] [int] NULL,
	[PERSONEL] [smallint] NULL,
 CONSTRAINT [PK_TBLFATURABILGI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLFATURADETAY]    Script Date: 10/26/2025 11:30:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLFATURADETAY](
	[FATURADETAYID] [int] IDENTITY(1,1) NOT NULL,
	[URUN] [varchar](50) NULL,
	[ADET] [smallint] NULL,
	[FIYAT] [decimal](18, 2) NULL,
	[TUTAR] [decimal](18, 2) NULL,
	[FATURAID] [int] NULL,
 CONSTRAINT [PK_TBLFATURADETAY] PRIMARY KEY CLUSTERED 
(
	[FATURADETAYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLGIDER]    Script Date: 10/26/2025 11:30:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLGIDER](
	[GIDERID] [int] IDENTITY(1,1) NOT NULL,
	[GIDERACIKLAMA] [varchar](50) NULL,
	[TARIH] [smalldatetime] NULL,
	[TUTAR] [decimal](18, 2) NULL,
 CONSTRAINT [PK_TBLGIDER] PRIMARY KEY CLUSTERED 
(
	[GIDERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLKATEGORI]    Script Date: 10/26/2025 11:30:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLKATEGORI](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](30) NULL,
 CONSTRAINT [PK_TBLKATEGORI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLNOTLARIM]    Script Date: 10/26/2025 11:30:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLNOTLARIM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BASLIK] [varbinary](50) NULL,
	[ICERIK] [varchar](500) NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_TBLNOTLARIM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLPERSONEL]    Script Date: 10/26/2025 11:30:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLPERSONEL](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](30) NULL,
	[SOYAD] [varchar](30) NULL,
	[DEPARTMAN] [tinyint] NULL,
	[FOTOGRAF] [varchar](100) NULL,
	[MAIL] [varchar](50) NULL,
	[TELEFON] [varchar](20) NULL,
 CONSTRAINT [PK_TBLPERSONEL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLURUN]    Script Date: 10/26/2025 11:30:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLURUN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](30) NULL,
	[MARKA] [varchar](30) NULL,
	[ALISFIYAT] [decimal](18, 2) NULL,
	[SATISFIYAT] [decimal](18, 2) NULL,
	[STOK] [smallint] NULL,
	[KATEGORI] [tinyint] NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_TBLURUN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLURUNHAREKET]    Script Date: 10/26/2025 11:30:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLURUNHAREKET](
	[HAREKETID] [int] IDENTITY(1,1) NOT NULL,
	[URUN] [int] NULL,
	[MUSTERI] [int] NULL,
	[PERSONEL] [smallint] NULL,
	[TARIH] [smalldatetime] NULL,
	[ADET] [smallint] NULL,
	[FIYAT] [decimal](18, 2) NULL,
 CONSTRAINT [PK_TBLURUNHAREKET] PRIMARY KEY CLUSTERED 
(
	[HAREKETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLURUNTAKIP]    Script Date: 10/26/2025 11:30:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLURUNTAKIP](
	[TAKIPID] [int] IDENTITY(1,1) NOT NULL,
	[URUN] [int] NULL,
	[DURUM] [varchar](200) NULL,
	[TARIH] [int] NULL,
	[TAKIPKOD] [char](5) NULL,
 CONSTRAINT [PK_TBLURUNTAKIP] PRIMARY KEY CLUSTERED 
(
	[TAKIPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TLBURUNKABUL]    Script Date: 10/26/2025 11:30:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TLBURUNKABUL](
	[ISLEMID] [int] IDENTITY(1,1) NOT NULL,
	[URUN] [int] NULL,
	[CARİ] [int] NULL,
	[PERSONEL] [smallint] NULL,
	[GELISTARIHI] [smalldatetime] NULL,
	[CIKISTARIHI] [smalldatetime] NULL,
 CONSTRAINT [PK_TLBURUNKABUL] PRIMARY KEY CLUSTERED 
(
	[ISLEMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBLARACLAR] ON 

INSERT [dbo].[TBLARACLAR] ([ID], [AD]) VALUES (1, N'Ribbon Control')
INSERT [dbo].[TBLARACLAR] ([ID], [AD]) VALUES (2, N'Bar Button')
INSERT [dbo].[TBLARACLAR] ([ID], [AD]) VALUES (3, N'Gridview')
SET IDENTITY_INSERT [dbo].[TBLARACLAR] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLKATEGORI] ON 

INSERT [dbo].[TBLKATEGORI] ([ID], [AD]) VALUES (1, N'OYUNCAK')
INSERT [dbo].[TBLKATEGORI] ([ID], [AD]) VALUES (2, N'TELEFON')
INSERT [dbo].[TBLKATEGORI] ([ID], [AD]) VALUES (3, N'KUCUK EV ALETI')
SET IDENTITY_INSERT [dbo].[TBLKATEGORI] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLURUN] ON 

INSERT [dbo].[TBLURUN] ([ID], [AD], [MARKA], [ALISFIYAT], [SATISFIYAT], [STOK], [KATEGORI], [DURUM]) VALUES (1, N'Laptop', N'MONSTER', CAST(4850.00 AS Decimal(18, 2)), CAST(5200.00 AS Decimal(18, 2)), 150, 1, 0)
INSERT [dbo].[TBLURUN] ([ID], [AD], [MARKA], [ALISFIYAT], [SATISFIYAT], [STOK], [KATEGORI], [DURUM]) VALUES (2, N'CAMASIR MAKINESI', N'SIEMENS', CAST(2985.00 AS Decimal(18, 2)), CAST(3200.00 AS Decimal(18, 2)), 200, 4, 0)
INSERT [dbo].[TBLURUN] ([ID], [AD], [MARKA], [ALISFIYAT], [SATISFIYAT], [STOK], [KATEGORI], [DURUM]) VALUES (3, N'LAPTOP', N'LENOVO', CAST(3650.00 AS Decimal(18, 2)), CAST(4500.00 AS Decimal(18, 2)), 50, 1, 0)
SET IDENTITY_INSERT [dbo].[TBLURUN] OFF
GO
ALTER TABLE [dbo].[TBLNOTLARIM] ADD  CONSTRAINT [DF_Table_1_OKUMA]  DEFAULT ((0)) FOR [DURUM]
GO
ALTER TABLE [dbo].[TBLURUN] ADD  CONSTRAINT [DF_TBLURUN_DURUM]  DEFAULT ((0)) FOR [DURUM]
GO
ALTER TABLE [dbo].[TLBURUNKABUL] ADD  CONSTRAINT [DF_TLBURUNKABUL_GELISTARIHI]  DEFAULT (getdate()) FOR [GELISTARIHI]
GO
ALTER TABLE [dbo].[TBLFATURABILGI]  WITH CHECK ADD  CONSTRAINT [FK_TBLFATURABILGI_TBLCARI] FOREIGN KEY([CARI])
REFERENCES [dbo].[TBLCARI] ([ID])
GO
ALTER TABLE [dbo].[TBLFATURABILGI] CHECK CONSTRAINT [FK_TBLFATURABILGI_TBLCARI]
GO
ALTER TABLE [dbo].[TBLFATURABILGI]  WITH CHECK ADD  CONSTRAINT [FK_TBLFATURABILGI_TBLPERSONEL] FOREIGN KEY([PERSONEL])
REFERENCES [dbo].[TBLPERSONEL] ([ID])
GO
ALTER TABLE [dbo].[TBLFATURABILGI] CHECK CONSTRAINT [FK_TBLFATURABILGI_TBLPERSONEL]
GO
ALTER TABLE [dbo].[TBLFATURADETAY]  WITH CHECK ADD  CONSTRAINT [FK_TBLFATURADETAY_TBLFATURABILGI] FOREIGN KEY([FATURAID])
REFERENCES [dbo].[TBLFATURABILGI] ([ID])
GO
ALTER TABLE [dbo].[TBLFATURADETAY] CHECK CONSTRAINT [FK_TBLFATURADETAY_TBLFATURABILGI]
GO
ALTER TABLE [dbo].[TBLPERSONEL]  WITH CHECK ADD  CONSTRAINT [FK_TBLPERSONEL_TBLDEPARTMAN] FOREIGN KEY([DEPARTMAN])
REFERENCES [dbo].[TBLDEPARTMAN] ([ID])
GO
ALTER TABLE [dbo].[TBLPERSONEL] CHECK CONSTRAINT [FK_TBLPERSONEL_TBLDEPARTMAN]
GO
ALTER TABLE [dbo].[TBLURUN]  WITH CHECK ADD  CONSTRAINT [FK_TBLURUN_TBLKATEGORI] FOREIGN KEY([KATEGORI])
REFERENCES [dbo].[TBLKATEGORI] ([ID])
GO
ALTER TABLE [dbo].[TBLURUN] CHECK CONSTRAINT [FK_TBLURUN_TBLKATEGORI]
GO
ALTER TABLE [dbo].[TBLURUNHAREKET]  WITH CHECK ADD  CONSTRAINT [FK_TBLURUNHAREKET_TBLCARI] FOREIGN KEY([MUSTERI])
REFERENCES [dbo].[TBLCARI] ([ID])
GO
ALTER TABLE [dbo].[TBLURUNHAREKET] CHECK CONSTRAINT [FK_TBLURUNHAREKET_TBLCARI]
GO
ALTER TABLE [dbo].[TBLURUNHAREKET]  WITH CHECK ADD  CONSTRAINT [FK_TBLURUNHAREKET_TBLPERSONEL] FOREIGN KEY([PERSONEL])
REFERENCES [dbo].[TBLPERSONEL] ([ID])
GO
ALTER TABLE [dbo].[TBLURUNHAREKET] CHECK CONSTRAINT [FK_TBLURUNHAREKET_TBLPERSONEL]
GO
ALTER TABLE [dbo].[TBLURUNHAREKET]  WITH CHECK ADD  CONSTRAINT [FK_TBLURUNHAREKET_TBLURUN] FOREIGN KEY([URUN])
REFERENCES [dbo].[TBLURUN] ([ID])
GO
ALTER TABLE [dbo].[TBLURUNHAREKET] CHECK CONSTRAINT [FK_TBLURUNHAREKET_TBLURUN]
GO
ALTER TABLE [dbo].[TBLURUNTAKIP]  WITH CHECK ADD  CONSTRAINT [FK_TBLURUNTAKIP_TBLURUN] FOREIGN KEY([URUN])
REFERENCES [dbo].[TBLURUN] ([ID])
GO
ALTER TABLE [dbo].[TBLURUNTAKIP] CHECK CONSTRAINT [FK_TBLURUNTAKIP_TBLURUN]
GO
ALTER TABLE [dbo].[TLBURUNKABUL]  WITH CHECK ADD  CONSTRAINT [FK_TLBURUNKABUL_TBLCARI] FOREIGN KEY([CARİ])
REFERENCES [dbo].[TBLCARI] ([ID])
GO
ALTER TABLE [dbo].[TLBURUNKABUL] CHECK CONSTRAINT [FK_TLBURUNKABUL_TBLCARI]
GO
ALTER TABLE [dbo].[TLBURUNKABUL]  WITH CHECK ADD  CONSTRAINT [FK_TLBURUNKABUL_TBLPERSONEL] FOREIGN KEY([PERSONEL])
REFERENCES [dbo].[TBLPERSONEL] ([ID])
GO
ALTER TABLE [dbo].[TLBURUNKABUL] CHECK CONSTRAINT [FK_TLBURUNKABUL_TBLPERSONEL]
GO
ALTER TABLE [dbo].[TLBURUNKABUL]  WITH CHECK ADD  CONSTRAINT [FK_TLBURUNKABUL_TBLURUN] FOREIGN KEY([URUN])
REFERENCES [dbo].[TBLURUN] ([ID])
GO
ALTER TABLE [dbo].[TLBURUNKABUL] CHECK CONSTRAINT [FK_TLBURUNKABUL_TBLURUN]
GO
